# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv/
venv/
ENV/
env/
.env

# Storage & Database (Bỏ qua các file dữ liệu của Node)
storage/*.json
!storage/.gitkeep

# Docker
.docker/
docker-compose.override.yml

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db
